@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    margin-bottom: 20px;
}

$color1: #ffffffff;
$color2: #ffcad4ff;
$color3: #b0d0d3ff;
$color4: #c08497ff;
$color5: #f7af9dff;

body {
    background-color: $color3;
    padding: 20px;
}

h1 {
    color: $color4;
}
